<!DOCTYPE html>
<html>
  <head>
    <title>The Secret Message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Encrypted</h1>
    <p><%= encrypted %></p>
    <br>
    <h1>Decrypted</h1>
    <p><%= decrypted %></p>
  </body>
</html>
