<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/newsletter">
        <div style="width: 400px;">
        </div>
        <div style="padding-bottom: 18px;font-size : 24px;">Newsletter Subscription</div>
        <div style="padding-bottom: 18px;">EMAIL
            <span style="color: red;"> *</span>
            <br/>
            <input type="text" id="email" name="email" style="width : 300px;" class="form-control" />
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"
        </div>
        <div style="padding-bottom: 18px;">
            <input name="skip_Submit" value="SUBSCRIBE" type="submit" />
        </div>
    </form>
    
    <!-- <script type="text/javascript">
        function validateForm() {
            if (isEmpty(document.getElementById('data_2').value.trim())) {
                alert('NAME is required!');
                return false;
            }
            if (isEmpty(document.getElementById('data_4').value.trim())) {
                alert('EMAIL is required!');
                return false;
            }
            if (!validateEmail(document.getElementById('data_4').value.trim())) {
                alert('EMAIL must be a valid email address!');
                return false;
            }
            return true;
        }
    
        function isEmpty(str) {
            return (str.length === 0 || !str.trim());
        }
    
        function validateEmail(email) {
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,15}(?:\.[a-z]{2})?)$/i;
            return isEmpty(email) || re.test(email);
        }
    </script> -->
</body>
</html>